<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="FullRunSuite" verbose="1">

    <test name="Test">
        <groups>
            <run>
                <include name="Smoke">
                </include>
            </run>
        </groups>
        <classes>
            <class name="com.todoist.auto.v1.tasks.create.CreateTasksTests"/>
        </classes>
    </test>
</suite>
